.nav_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
}

.nav:hover{
  border-bottom: #00d646 ;
}
.nav a {
  font-size: 24px;
  color: #ffffff;

} 
.nav a.active {
 color: #00d646;
}
.nav a:hover {
  text-decoration: underline;
 
}
