
.wrapper {
  display: grid; 
  grid-template-areas: 
  "header nav-wrapper"
  "header nav-wrapper"
  "profile content";
  grid-template-columns: 3fr 8fr;
  grid-template-rows: 2fr 1fr 10fr;
  max-width: 1200px;
  margin: 0 auto;

}
.header {
  grid-area: header;
  align-self: center;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  align-self: center;
  margin-left: 30px;
}

.profile {
  grid-area: profile;
}

.content {
  grid-area: content;
  font-size: 21px;
  margin-left: 30px;
  color: white;
}

ol li {
  margin-top: 5px;
}

ol li:first-child {
  margin-top: 0px;
}

p {
  margin-top: 10px;
}

p:first-child {
  margin-top: 0px;
}

